* {
    font-family: IBM-Plex-Sans, monospace;
    background: url(./assets/bg-main-desktop.png);
    margin-left: 166.15px;
    
}

#logo{
    height: 32px;
    width: 146.09px;
    position: relative;
    bottom: 61.99px;    
    
}

#topRightDeco{
    position: relative;
    top: 40px;
    left: 960px;
}

#bigText{
    
}
