* {
    font-family: IBM-Plex-Sans, monospace;
    
        
}

body{
    background: url(./assets/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-position: 20% 15%;
}

#firstPics{
    margin-left:20%;
    margin-right: 20%;
}

#logo{
    height: 32px;
    width: 146.09px;
    position: absolute;
    top: 61.99px;    
    /*left: 165.15px;*/
}

#topRightDeco{
    position: absolute;
    top: -40px;
    /*left: 1128px;*/
    width: 312px;
    height: 468px;
    margin-left:1100px;
}

#mainContent{
    position: absolute;
    text-align: center;
    top: 468px;    
    /*left: 165.15px;
    /*width: 1440px;*/
    margin-left:20%;
    margin-right: 20%;
    
}

#bigText{
    width:1015px;
    font-weight: 800;
    font-size: 88px;    
    line-height: 88px;
    letter-spacing: -1px;
    color:#191826;
    margin-bottom: 40px;
    margin-top: -221px;
    text-align: left;
}

#smallContent{
    width:825px;
    margin-top: 0px;
    text-align: left;
}
.smallText{
    font-size: 20px;
    line-height: 34px;
    font-weight: 400;
}

#middleContent{
    position: absolute;
    bottom: 600px;
    /*left: -200.15px;*/
}


#phoneDemo{
    width: 312px;
    height: 642px;
    position: absolute;
    left: 67px;
    top: 647px;
    z-index: 2;
}

#middleDeco{
    position: absolute;
    left: 0px;
    top: 860px;
    background-color: #191826;
    padding-left: 300px;
    padding-right: 620px;
    border-radius: 10px;
    padding-bottom: 200px;
    z-index: 1;
    
}

article{
    width: 346px;
    height: 625px;
    position: absolute;
    left: 534px;
    top: 990px;
    text-align: left;
    background-color: #FA7453;
    color: #FCFAF9;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 60px;
    border-radius: 10px;
    z-index: 3;
}

#premium{
    font-size: 45px;
    font-weight: 1000;
}

#paymentPlan{
    display: flex;
    flex-direction: row; 
    align-items: center;   

}

    

#bigFour{
    font-size: 70px;
    padding-right: 20px;
    }

.button{
    width: 346px;
    padding-top:15px;
    padding-bottom:15px;
    border-radius: 15px;
    border-width: 0px;
}
#iDownload{
    background-color: #191826;
    color:#FCFAF9;
    margin-bottom: 10px;
    
}
#iDownload:hover{
    animation: ios 0.2s ;
    animation-fill-mode: forwards;
}
@keyframes ios {

    100%{
        background-color: #66E2DC; 
    }
}

#androidDownload{
    background-color: #FCFAF9;
    color:#191826;
 
}
#androidDownload:hover{
 
    animation: android 0.2s ;
    animation-fill-mode: forwards;
}
@keyframes android {

    100%{
        background-color:#FFB964; 
    }
}



footer{
    width: 1250px;
    height: 79px;
    position: absolute;
    left: 0px;
    top: 1400px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    
}
#footIcon{
    height: 32px;
    width: 146.09px;
    margin-right: 130px;
}

#footnote{
    text-align: left;
    margin-top: 0px;
    width: 450px;
    margin-right: 380px;
}

.footPic{
    fill:#191826;
    margin-left: 10px;
    margin-right: 10px;
}


.footPic:hover {
    animation: footani 0.2s ;
    animation-fill-mode: forwards;

   
        
    }

@keyframes footani {

    100%{
        fill:#FA7453; 
    }
}




@media(max-width: 768px){
    body{
    background-repeat: no-repeat;
    background-position: -900px -300px;/*-100px -50px;
    background-size: cover;*/
    }
   
    #mainContent{
        margin-left:20px;
        margin-right: 20px;
    }

    #firstPics{
        margin-left:20px;
        margin-right: 0px;
    }
    #topRightDeco{
        margin-left: 456px;
        width: 266.67px;
        height: 400px;
    }
    #topContent{
        width: 520px;
        height: 332px;
        position: relative;
        bottom: 50px;
        margin-bottom: 50px;
        
        
    }
    #bigText{
        font-size: 70px;
        width: 520px;
        line-height: 70px;
        letter-spacing: -1px;    
        margin-bottom: 40px;
        margin-top: -221px;
   
    } 
    
    .smallText{
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
    }

    #smallContent{
        width: 520px;
    }

    #phoneDemo{
        width: 282px;
        height: auto;
        position: absolute;
        left: 97px;
        top: 647px;
        z-index: 2;
    }

    #middleDeco{/*312 468  280 420*/
        padding-left: 265.2px;
        padding-right: 118.8px;
        border-radius: 10px;
        padding-bottom: 200px;   
        
    }

    article{
        width: 282px;
        height: 625px;
        position: absolute;
        left: 274px;
        top: 990px;
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 0px;
       
    }

    #paymentPlan{
        margin-top: -30px;
    }

    .button{
        width: 282px;
    }

    footer{
        width: 696px;
        height: 143px;
        flex-direction: column;
    }

    #footIcon{
        margin-bottom: 30px;
    }

    .footPic{
        fill:#191826;
        margin-left: 10px;
        margin-right: 10px;
    }
    #footPics{
        position: relative;
        left: 280px;
        bottom: 50px;
    }
}